{% extends "index.html" %}

{% block title %}Epsilearn{% endblock %}


{% block content %}
    <header class="bg-primary text-white text-center py-3">
        <h1>Digitalisation de la Méthode RULA</h1>
    </header>

    <section class="container my-5">
        <div class="row">
            <div class="col-lg-6">
                <h2>Qu'est-ce que la Méthode RULA?</h2>
                <p>La méthode RULA (Rapid Upper Limb Assessment) est une technique d'évaluation ergonomique conçue pour examiner l'exposition des travailleurs aux risques de troubles musculo-squelettiques liés au travail.</p>
            </div>
            <section class="container my-5">
                <h2>Application de la Méthode RULA</h2>
                <p>Cette méthode évalue les postures du corps, la force et la répétition des tâches. Basée sur les résultats, des recommandations sont faites pour réduire le risque de blessures.</p>
            </section>
            <div class="col-lg-6">
                <img src="static/rapid-upper-limb-assessment-rula-1.png" class="img-fluid" alt="Méthode RULA">
            </div>
        </div>
    </section>

    

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2023 Digital RULA. Tous droits réservés.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

    {% endblock %}